 altair
annotated-types
anyio
attrs
blinker
bcrypt
cachetools
certifi
charset-normalizer
click
cohere
contourpy
cycler
diskcache
distro
exceptiongroup
fastapi
fastavro
filelock
fonttools
fsspec
geopandas
gitdb
GitPython
google-auth
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
importlib_resources
Jinja2
jiter
jsonschema
jsonschema-specifications
kaleido
kiwisolver
lida
llmx
markdown-it-py
MarkupSafe
matplotlib
matplotlib-venn
mdurl
mizani
narwhals
networkx
numpy
openai
openpyxl
packaging
pandas
patsy
pillow
plotly
plotnine
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pyogrio
pyparsing
pyproj
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
rsa
scipy
seaborn
shapely
shellingham
six
smmap
sniffio
starlette
statsmodels
streamlit
streamlit-option-menu
tenacity
tiktoken
tokenizers
toml
tornado
tqdm
typer
types-requests
typing_extensions
tzdata
supabase>=2.11.0
urllib3
uvicorn
wordcloud
xlrd
zipp
